# Class 7

## Aggregate Functions
only returns one output and can only be used with `SELECT`

In [6]:
SELECT SUM(unitPrice), SUM(ProductID) FROM Products;

other available Aggregate Functions
* MIN( columnName )
* MAX( columnName )
* AVG( columnName )
* COUNT( columnName )

## Precedence Of SQL Query
1. From
2. Where
3. Group By
4. Having
5. Select
6. Order By

## Group By

In [0]:
SELECT City, MIN(BirthDate) FROM Employees GROUP BY City;

## Having

In [0]:
SELECT City, MIN(BirthDate) AS BirthDate FROM Employees GROUP BY City HAVING City in ('Redmond', 'Seattle');

## Order By

In [0]:
SELECT City, MIN(BirthDate) AS BirthDate FROM Employees GROUP BY City ORDER BY BirthDate;