# Class 2

## Create Database

In [0]:
CREATE DATABASE db_mydatabase;

## Create Table

In [2]:
-- make sure you have selected correct db before executing this command
-- or use 'USE db_mydatabase;' command to execute command in specific database
CREATE TABLE tbl(
    id INT NOT NULL,
    name VARCHAR(20) NULL
);

## Insert Data in Table

In [3]:
INSERT INTO tbl VALUES(345, 'ALI');

## Display data from Table

In [4]:
-- show all fields from table
SELECT * FROM tbl;

id,name
345,ALI

In [12]:
-- show all id fields from tb1
SELECT id FROM tbl;

: Msg 208, Level 16, State 1, Line 2
Invalid object name 'tb1'.

## Alter Table and make 'id' Primary Key

In [8]:
ALTER TABLE tbl ADD CONSTRAINT pk_id PRIMARY KEY(id);

: Msg 1779, Level 16, State 0, Line 1
Table 'tb1' already has a primary key defined on it.

: Msg 1750, Level 16, State 0, Line 1
Could not create constraint or index. See previous errors.

## Delete all data from Table

In [11]:
TRUNCATE TABLE tbl;

: Msg 4701, Level 16, State 1, Line 1
Cannot find the object "tb1" because it does not exist or you do not have permissions.

## Delete Table

In [9]:
DROP TABLE tbl;

## Delete Database

In [10]:
-- before dropping database make sure it is not in use
DROP DATABASE db_mydatabase;

: Msg 3702, Level 16, State 3, Line 1
Cannot drop database "db_mydatabase" because it is currently in use.

## Rename Database

In [15]:
sp_renamedb 'db_mydatabas', 'new_database';

## Rename Table

In [0]:
sp_rename 'dbo.tbl', 'newTableName';