# Class 4

## One To Many Relationship

### Create Sample Database And Tables

In [5]:
CREATE DATABASE db_lab4;
CREATE TABLE tbl_customer(
    [id] INT NOT NULL PRIMARY KEY,
    [name] VARCHAR(25) NULL
);
CREATE TABLE tbl_order(
    [id] INT NOT NULL PRIMARY KEY,
    [quantity] INT NOT NULL,
    [p_id] INT NOT NULL,
    [c_id] INT NOT NULL
);

### Add Foreign Key to c_id

In [6]:
ALTER TABLE tbl_order
ADD CONSTRAINT fk_customer
FOREIGN KEY(c_id) REFERENCES tbl_customer(id);

### Insert Sample Data in tables

#### Adding Sample Data to Customer's Table

In [7]:
INSERT INTO tbl_customer VALUES(1, 'Ali');
INSERT INTO tbl_customer VALUES(2, 'Ahmad');
INSERT INTO tbl_customer VALUES(3, 'Abdullah');
INSERT INTO tbl_customer VALUES(4, 'Ibtasham');

#### Adding Sample data to Order's Table

In [8]:
INSERT INTO tbl_order VALUES(1, 2, 3, 1);
INSERT INTO tbl_order VALUES(2, 2, 3, 2);
INSERT INTO tbl_order VALUES(3, 2, 3, 2);
INSERT INTO tbl_order VALUES(4, 2, 3, 4);

### Reading Data

In [9]:
SELECT * FROM tbl_customer;
SELECT * FROM tbl_order;

## Many to Many Relationship

### Create sample tables

In [10]:
CREATE TABLE tbl_teacher(
    [id] INT NOT NULL PRIMARY KEY,
    [name] VARCHAR(25) NULL,
);
CREATE TABLE tbl_student(
    [id] INT NOT NULL PRIMARY KEY,
    [name] VARCHAR(25) NULL
);
-- Relation Table
CREATE TABLE teacher_student(
    [t_id] INT NOT NULL FOREIGN KEY REFERENCES tbl_teacher(id),
    [s_id] INT NOT NULL FOREIGN KEY REFERENCES tbl_student(id),
);

### Insert Sample Data

In [0]:
INSERT INTO tbl_teacher VALUES (
    (1, 'ali'),
    (2, 'ahmad')
);