# Class 3

## Create Table with Unique Key and Primary Key

In [1]:
CREATE TABLE tbl_1(
    id INT PRIMARY KEY,
    name VARCHAR(25) NULL,
    cnic INT UNIQUE
);